* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
}

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

a {	
   text-decoration: none;
   color: #4b4b4b;
}

ul {
   list-style: none;
   margin: 0;
   display: flex;
}

li {
   margin: 0 0 0 15px;
   font-size: 14px;
}

nav {
   margin: 0 0 0 auto;
}

.start {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('E7735BF7-A0F1-4845-BBEA-BCC3AF916165.jpeg') top center / cover no-repeat;
}
h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #fff;
}

.wrapper1 {
  padding: 180px 0 100px 0;
  text-align: center;
}

.wrapper1 h3 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.wrapper1 p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}
